<div class="container mt-5">
    <div class="row">
        <div class="col col-lg-4"></div>
        <div class="col col-lg-4 col-md-12 border rounded p-4">
            <form (ngSubmit)="login()" [formGroup]="loginForm">

                <div class="form-outline mb-4">
                    <label class="form-label">Email address</label>
                    <input type="email" class="form-control" formControlName="username"
                        [ngClass]="{
                            'is-invalid': loginForm.get('username')!.invalid && (loginForm.get('username')!.touched || loginForm.get('username')!.dirty),
                            'is-valid': loginForm.get('username')!.valid && loginForm.get('username')!.touched
                        }" />
                    <div *ngIf="loginForm.get('username')!.invalid && (loginForm.get('username')!.touched || loginForm.get('username')!.dirty)" class="invalid-feedback">
                        Please enter a valid email address.
                    </div>
                </div>
                
                <div class="form-outline mb-4">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" formControlName="password"
                        [ngClass]="{
                            'is-invalid': loginForm.get('password')!.invalid && (loginForm.get('password')!.touched || loginForm.get('password')!.dirty),
                            'is-valid': loginForm.get('password')!.valid && loginForm.get('password')!.touched
                        }" />
                    <div *ngIf="loginForm.get('password')!.invalid && (loginForm.get('password')!.touched || loginForm.get('password')!.dirty)" class="invalid-feedback">
                        Please enter your password.
                    </div>
                </div>
                
                <div class="alert alert-danger" *ngIf="loginError">
                    {{ loginError }}
                </div>
                
                <br>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                </div>
                <div class="text-center">
                    <a routerLink="/register">Create an Account</a>
                </div>
            </form>
        </div>
    </div>
</div>